.page-title{
   font-family:sans-serif ;
color: white;
text-align: center;
background-color: rgb(117, 10, 232);
font-size: 30px;
text-transform: capitalize;
}
.paragraf{
color: rgb(117, 10, 232);
text-indent: 15px;

}
.page-header{
   color: rgb(117, 10, 232);
   text-align: center;
   font-family: serif;
   text-transform: uppercase;
   font-size: 23px;

} 